services:
  spirit-tracks:
    image: ghcr.io/ryandraves/spirit_tracks:latest
    network_mode: service:tailscale
    environment:
      SPIRIT_TRACKS_CONFIG: /config/secrets.json
      SPIRIT_TRACKS_SETEC_ADDR: https://setec.barn-arcturus.ts.net
    volumes:
      - secrets-dash:/secrets/dash
      - ${PWD}/secrets.json:/config/secrets.json:ro
    restart: "no"

  homer:
    image: b4bz/homer:latest
    container_name: homer
    network_mode: service:tailscale
    volumes:
      - ${PWD}/config:/home/lighttpd
      - secrets-dash:/secrets:ro
    deploy:
      restart_policy:
        condition: on-failure
    entrypoint: '/home/lighttpd/entrypoint.sh'
    depends_on:
      spirit-tracks:
        condition: service_completed_successfully

  tailscale:
    image: tailscale/tailscale:v1.90.8
    container_name: homer-tailscale
    hostname: dash
    secrets:
      - tailnet_oauth
    environment:
      TS_EXTRA_ARGS: --advertise-tags=tag:container
      TS_STATE_DIR: /var/lib/tailscale
      TS_SERVE_CONFIG: /config/ts-serve.json
      TS_AUTHKEY: file:/run/secrets/tailnet_oauth
    volumes:
      - homer-ts-authkey:/var/lib/tailscale
      # Use a directory so `fsnotify` can watch the config file for changes
      - ${PWD}/ts-serve:/config
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped

volumes:
  homer-ts-authkey:
  secrets-dash:

secrets:
  tailnet_oauth:
    file: ${PWD}/../secrets/tailnet_oauth.secret
