build --disk_cache=~/.cache/bazel

build --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main

build --cxxopt='-std=c++23'

# Using nightly channel for WASM stuffs
build --@rules_rust//rust/toolchain/channel=nightly

# Not needed to build targets (due to platform transitions) but occasionally handy
build:pico --platforms=//bzl/platforms:rp2040
build:pico_w --platforms=//bzl/platforms:rp2040_w

# https://github.com/bazelbuild/bazel/issues/4867#issuecomment-830402410
common:quiet --ui_event_filters=-info,-stdout,-stderr --noshow_progress

#
# Begin JS stuff
# Source: https://github.com/bazelbuild/examples/blob/b51e3bdd468ce8c4a516d7dca993909dcc84af32/frontend/.bazelrc
#

# passes an argument `--skipLibCheck` to *every* spawn of the TypeScript compiler, tsc
common --@aspect_rules_ts//ts:skipLibCheck=always

# Required for rules_js
build --enable_runfiles

# Allow the Bazel server to check directory sources for changes.
# Recommended when using copy_directory, see
# https://github.com/aspect-build/bazel-lib/blob/main/docs/copy_directory.md
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

###########################
# Linting
# TODO: lint.bzl doesn't exist in the example repo
# Enable with --config=lint
# This is demonstrated by the next.js example:
# cd blog; npm run lint
build:lint --aspects=//:lint.bzl%eslint
# Gather lint reports.
# Note: --remote_download_regex is for RBE and was added in Bazel 7.
build:lint --output_groups=rules_lint_report --remote_download_regex='.*aspect_rules_lint.report'
# Cause build failures when there are lint warnings.
# This is a simple configuration, but you probably want to report them as code review comments instead.
# See https://github.com/aspect-build/rules_lint/blob/main/docs/linting.md#usage
build:lint --aspects_parameters=fail_on_violation=true --keep_going

#
# End JS stuff
#

test --test_output=errors

try-import %workspace%/.user.bazelrc
