build --disk_cache=~/.cache/bazel

build --cxxopt='-std=c++23'

# Not needed to build targets (due to platform transitions) but occasionally handy
build:pico --platforms=//bzl/platforms:rp2040
build:pico_w --platforms=//bzl/platforms:rp2040_w

build:pages --nolegacy_external_runfiles
build:pages --action_env=JEKYLL_ENV=production

# https://github.com/bazelbuild/bazel/issues/4867#issuecomment-830402410
common:quiet --ui_event_filters=-info,-stdout,-stderr --noshow_progress

test --test_output=errors

try-import %workspace%/.user.bazelrc
