# Generated things
bazel-*/
MODULE.bazel.lock
venv
external
compile_commands.json
__pycache__/
.aspect/

# Per-user things
.user.bazelrc

# Web things
node_modules/

# Future development things
vscode/

# Shhhhh
secrets/*
!secrets/BUILD
!secrets/README.md
