# Buffham files
*_bh.pyi linguist-generated=true
# Python tooling files
requirements_lock.txt linguist-generated=true
gazelle_python.yaml linguist-generated=true
# pnpm files
pnpm-lock.yaml linguist-generated=true
# LFS files
*.3mf filter=lfs diff=lfs merge=lfs -text
*.gcode filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
# Image files
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
