# Generated things
bazel-*/
bazel-bin
bazel-nlb
bazel-out
bazel-testlogs
MODULE.bazel.lock
venv
external
compile_commands.json
__pycache__/
.aspect/

# Per-user things
.user.bazelrc

# Web things
node_modules/

# Future development things
vscode/

# Shhhhh
services/secrets/*
!services/secrets/README.md
