# - bazel run //:requirements
# - bazel run //:venv
# - bazel run //:gazelle_python_manifest.update
# - pip install -e .  # (Optional)
# - `Gruntfuggly.triggertaskonsave` will run this automatically
alembic>=1.15.1,<2
bleak>=0.22.3,<1
dotenv>=0.9.9,<1
fastmcp>=2.5.2,<3
imageio>=2.37.0,<3
inquirerpy>=0.3.4,<1
ipython>=8.27.0,<9
jinja2>=3.1.0,<4
matplotlib>=3.10.0,<4
marshmallow-dataclass>=8.7.1,<9
numpy>=2.2.2,<3
OpenAI[realtime]>=1.109.1,<2
openai-agents>=0.3.2,<1
pandas>=2.3.2,<3
portpicker>=1.6.0,<2
pillow>=11.1.0,<12
pip>=25.1.1,<26
psycopg2-binary>=2.9.10,<3
# Matplotlib backend
PyQt6>=6.8.0,<7
pydantic>=2.10.6,<3
pygments>=2.16.0,<3
pyserial>=3.5,<4
pytest>=8.3.2,<9
pyzmq>=26.2.0,<27
requests>=2.32.3,<3
responses>=0.25.7,<1
rich>=13.9.4,<14
rich-click>=1.8.3,<2
ruff>=0.11.9,<1
scipy>=1.15.1,<2
SQLAlchemy>=2.0.38,<3
stonesoup>=1.5.0,<2
thefuzz>=0.22.1,<1
