services:
  spirit-tracks:
    image: ghcr.io/ryandraves/spirit_tracks:latest
    network_mode: service:tailscale
    environment:
      SPIRIT_TRACKS_CONFIG: /config/secrets.json
      SPIRIT_TRACKS_SETEC_ADDR: https://setec.barn-arcturus.ts.net
    volumes:
      - secrets-iir:/secrets/iir
      - ${PWD}/secrets.json:/config/secrets.json:ro
    restart: "no"

  iir:
    # bazel run //apps/iir:iir_amd64_load to build & load the image locally
    # bazel run //apps/iir:iir_push to push the image to the registry
    image: ghcr.io/ryandraves/iir:latest
    container_name: iir
    restart: always
    network_mode: service:tailscale
    volumes:
      - secrets-iir:/secrets:ro
    environment:
      OPENWEATHER_API_KEY_FILE: /secrets/iir_openweathermap_api_key
    depends_on:
      spirit-tracks:
        condition: service_completed_successfully

  tailscale:
    image: tailscale/tailscale:v1.90.8
    container_name: iir-tailscale
    hostname: isitraining
    secrets:
      - tailnet_oauth
    environment:
      TS_EXTRA_ARGS: --advertise-tags=tag:container
      TS_STATE_DIR: /var/lib/tailscale
      TS_SERVE_CONFIG: /config/ts-serve.json
      TS_AUTHKEY: file:/run/secrets/tailnet_oauth
    volumes:
      - iir-ts-authkey:/var/lib/tailscale
      # Use a directory so `fsnotify` can watch the config file for changes
      - ${PWD}/ts-serve:/config
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped

volumes:
  iir-ts-authkey:
  secrets-iir:


secrets:
  tailnet_oauth:
    file: ${PWD}/../secrets/tailnet_oauth.secret
