services:
  setec:
    # bazel run //apps/setec:setec_amd64_load to build & load the image locally
    # bazel run //apps/setec:setec_push to push the image to the registry
    image: ghcr.io/ryandraves/setec:latest
    container_name: setec
    volumes:
      - setec-state-dir:/var/lib/setec
    restart: always
    environment:
      TS_AUTHKEY: file:/run/secrets/tailnet_oauth
      SETEC_KMS_KEY_PATH: /run/secrets/setec_kms_key
      AWS_ACCESS_KEY_PATH: /run/secrets/setec_aws_access_key
      AWS_SECRET_KEY_PATH: /run/secrets/setec_aws_secret_key
    command:
      - server
      - --hostname
      - setec
      - --state-dir
      - /var/lib/setec
      - --kms-key-name
      - $$(SETEC_KMS_KEY_PATH)
    entrypoint:
      - /bin/sh
      - -c
      - set -e; export SETEC_KMS_KEY=$(cat /run/secrets/setec_kms_key); export AWS_ACCESS_KEY=$(cat /run/secrets/setec_aws_access_key); export AWS_SECRET_KEY=$(cat /run/secrets/setec_aws_secret_key); echo 'Secrets loaded successfully'; /opt/app
    secrets:
      - tailnet_oauth
      - setec_kms_key
      - setec_aws_access_key
      - setec_aws_secret_key

volumes:
  setec-state-dir:

secrets:
  tailnet_oauth:
    file: ${PWD}/../secrets/tailnet_oauth.secret
  setec_kms_key:
    file: ${PWD}/../secrets/setec_kms.key
  setec_aws_access_key:
    file: ${PWD}/../secrets/setec_aws_access.key
  setec_aws_secret_key:
    file: ${PWD}/../secrets/setec_aws_secret.key
