services:
  portainer:
    image: portainer/portainer-ce:lts
    container_name: portainer
    restart: always
    network_mode: service:tailscale
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data

  tailscale:
    image: tailscale/tailscale:1.90.8
    container_name: portainer-tailscale
    hostname: portainer
    secrets:
      - tailnet_oauth
    environment:
      TS_EXTRA_ARGS: --advertise-tags=tag:container
      TS_STATE_DIR: /var/lib/tailscale
      TS_SERVE_CONFIG: /config/ts-serve.json
      TS_AUTHKEY: file:/run/secrets/tailnet_oauth
    volumes:
      - portainer-ts-authkey:/var/lib/tailscale
      # Use a directory so `fsnotify` can watch the config file for changes
      - ${PWD}/ts-serve:/config
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped

volumes:
  portainer-data:
  portainer-ts-authkey:


secrets:
  tailnet_oauth:
    file: ${PWD}/../secrets/tailnet_oauth.secret
