# Add the `services` prefix so we don't have to deal with
# moving the prod data around. I tried copying the data with
# `    docker run --rm -v source_volume:/from -v destination_volume:/to alpine sh -c "cp -av /from/* /to"`
# but the user auth didn't like that (different salt?).
name: services

services:
  spirit-tracks:
    image: ghcr.io/ryandraves/spirit_tracks:latest
    container_name: mealie-spirit-tracks
    network_mode: service:tailscale
    environment:
      SPIRIT_TRACKS_CONFIG: /config/secrets.json
      SPIRIT_TRACKS_SETEC_ADDR: https://setec.barn-arcturus.ts.net
    volumes:
      - mealie-secrets-mealie:/secrets/mealie
      - mealie-secrets-postgres:/secrets/postgres
      - ${PWD}/secrets.json:/config/secrets.json:ro
    restart: "no"

  mealie:
    image: ghcr.io/mealie-recipes/mealie:v2.8.0
    container_name: mealie
    restart: always
    network_mode: service:tailscale
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - mealie-data:/app/data/
      - mealie-secrets-mealie:/secrets:ro
    environment:
      ALLOW_SIGNUP: false
      ALLOW_PASSWORD_LOGIN: false
      PUID: 1000
      PGID: 1000
      TZ: America/Denver
      BASE_URL: https://recipes.barn-arcturus.ts.net
      # Database Settings
      DB_ENGINE: postgres
      POSTGRES_USER: mealie
      POSTGRES_SERVER: mealie-postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: mealie
      SMTP_HOST: mail.smtp2go.com
      SMTP_PORT: 2525
      SMTP_USER: mealie2
      SMTP_FROM_EMAIL: mealie@ryandraves.com
      # Make newly created users automatically part of the "Invited" household.
      # (So they can't edit my recipes, but can view them.)
      DEFAULT_HOUSEHOLD: Invited
      # https://integrations.goauthentik.io/integrations/services/mealie/
      OIDC_AUTH_ENABLED: true
      OIDC_PROVIDER_NAME: Tailscale
      OIDC_CONFIGURATION_URL: https://idp.barn-arcturus.ts.net/.well-known/openid-configuration
      # Required for first-time login from OIDC
      OIDC_SIGNUP_ENABLED: true
      OIDC_USER_CLAIM: email
      OIDC_NAME_CLAIM: preferred_username
      OIDC_GROUPS_CLAIM: groups
      # Groups defined in Tailscale ACLs
      OIDC_USER_GROUP: mealie-users
      OIDC_ADMIN_GROUP: mealie-admins
      # The login page will be bypassed and you will be sent directly to your Identity Provider
      OIDC_AUTO_REDIRECT: true
      # By setting this value to true, a session will be extended as if "Remember Me" was checked.
      OIDC_REMEMBER_ME: true
      OIDC_SCOPES_OVERRIDE: openid profile email
    entrypoint: [
      "/bin/sh",
      "-c",
      "set -e; export POSTGRES_PASSWORD=$(cat /secrets/mealie_postgres_password); export SMTP_PASSWORD=$(cat /secrets/mealie_smtp_password); export OIDC_CLIENT_ID=$(cat /secrets/mealie_oidc_id); export OIDC_CLIENT_SECRET=$(cat /secrets/mealie_oidc_secret); echo 'Secrets loaded successfully'; /app/run.sh"
    ]
    depends_on:
      postgres:
        condition: service_healthy
      spirit-tracks:
        condition: service_completed_successfully

  postgres:
    container_name: mealie-postgres
    image: postgres:15
    restart: always
    volumes:
      - mealie-pgdata:/var/lib/postgresql/data
      - mealie-secrets-postgres:/secrets:ro
    environment:
      POSTGRES_PASSWORD_FILE: /secrets/mealie_postgres_password
      POSTGRES_USER: mealie
      PGUSER: mealie
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - mealie
    depends_on:
      spirit-tracks:
        condition: service_completed_successfully

  tailscale:
    image: tailscale/tailscale
    container_name: mealie-tailscale
    hostname: recipes
    secrets:
      - tailnet_oauth
    environment:
      TS_EXTRA_ARGS: --advertise-tags=tag:container
      TS_STATE_DIR: /var/lib/tailscale
      TS_SERVE_CONFIG: /config/ts-serve.json
      TS_AUTHKEY: file:/run/secrets/tailnet_oauth
    volumes:
      - mealie-ts-authkey:/var/lib/tailscale
      # Use a directory so `fsnotify` can watch the config file for changes
      - ${PWD}/ts-serve:/config
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped
    networks:
      - mealie

# Custom network; only needed if other compose files are in the parent
# `services` directory.
networks:
  mealie:
    driver: bridge

volumes:
  mealie-data:
  mealie-pgdata:
  mealie-ts-authkey:
  mealie-secrets-mealie:
  mealie-secrets-postgres:


secrets:
  tailnet_oauth:
    file: ${PWD}/../secrets/tailnet_oauth.secret
