name: Rules Release

on:
  workflow_dispatch:
    inputs:
      tag_name:
        required: true
        type: string
  # Manually push a tag to trigger releases
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write
  attestations: write
  contents: write
jobs:
  release:
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7.2.3
    with:
      release_files: rules_nlb-*.tar.gz
      bazel_test_command: bazel test //:requirements_test
      mount_bazel_caches: true
      prerelease: false
      draft: false
      tag_name: ${{ inputs.tag_name || github.ref_name }}
  publish:
    needs: release
    uses: ./.github/workflows/publish_to_bcr.yaml
    with:
      tag_name: ${{ inputs.tag_name || github.ref_name }}
    secrets:
      publish_token: ${{ secrets.BCR_PUBLISH_TOKEN }}
